.Button {
	background-color: crimson;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
.VideoPicture {
	width: 100%;
	height: 180px;
	border-radius: 15px;
	object-fit: cover;
	margin-bottom: 10px;
}
.SendButton {
	background-color: crimson;
	border: none;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	cursor: pointer;
	bottom: 20px;
	right: 30px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	
	@media (max-width: 800px) {
		position: revert;
	}
}

.SubmitButton {
	background-color: crimson;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 25px 10px 25px;
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

.Popup {
	position: fixed;
	background-color: #232731;
	padding: 30px;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 400px;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	
	@media (max-width: 800px) {
		position: fixed;
		background-color: #232731;
		padding: 30px;
		top: 10px;
		width: revert;
		left: 10px;
		right: 10px;
		height: 75%;
		transform: none;
		overflow: auto !important;
		overflow-y: scroll !important;
		border-radius: 15px;
	}
}


.info {
	width: 100%;
}

.InfoWrapper {
	display: flex;
	gap: 40px;
	justify-content: space-between;
	
	@media (max-width: 800px) {
		flex-wrap: wrap;
	}

}

.CardWrapper {
	width: 300px;
	background-color: #1F242D;
	border-radius: 20px;
	padding: 20px;
	border: 1px #637575 solid;
	@media (max-width: 800px) {
		width: unset;
	}
}


.area {
	resize: none;
	width: 100%;
	display: block;
	padding: 10px;
	height: 150px;
	border: none;
	margin: 20px 0;
	border-radius: 10px;
	
	@media (max-width: 800px) {
		height: 50px;
		width: -webkit-fill-available;
	}
}

.field {
	display: block;
	width: 100%;
	height: 45px;
	margin: 10px 0;
	border: none;
	padding: 10px;
	border-radius: 10px;
	@media (max-width: 800px) {
		height: 25px;
		width: -webkit-fill-available;
	}
}

.file {
	display: block;
	color: #637575;
	border: none;
	margin-bottom: 20px;
	width: 100%;
}

.file::-webkit-file-upload-button {
	border: none;
	padding: 10px;
	border-radius: 5px;
	background-color: #637575;
}

.LoadWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.LoadText {
	text-align: center;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: bold;
}

.PreviewHeading{
	margin-bottom: 10px;
}