
.wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}

.text {
	font-size: 22px;
	font-weight: 600;
}

.logo {
	width: 50px;
	clip-path: circle(25px at center);
	height: 50px;
	object-fit: cover;
}

.lines {
	border: 1px #1F242D solid;
	margin-top: 20px;
	background-color: #1F242D;
	margin-bottom: 20px;
}