.LeftBarWrapper {
	padding: 30px;
	height: 100vh;
	border-right: 2px #1F242D solid;
	width: 20%;
}

@media (max-width: 1050px) {
	.LeftBarWrapper {
		position: fixed;
		display: flex;
		width: 40vw;
		height: 100px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		background-color: #232731;
		z-index: 1000000;
	}
	.LogoText {
		display: none;
	}
	.title {
		display: none;
	}
	.lines {
		display: none;
	}
	.description {
		display: none;
	}
	
}

.lines {
	border: 1px #1F242D solid;
	margin-top: 20px;
	background-color: #1F242D;
	margin-bottom: 20px;
}

.LogoText {
	margin-bottom: 40px;
	margin-top: 15px;
}

.title {
	font-size: 16px;
	color: #637575;
	font-weight: 400;
	margin-bottom: 20px;
}

.description {
	font-size: 16px;
	font-weight: 400;
	color: #637575;
}