.lines {
	border: 1px #1F242D solid;
	margin-top: 20px;
	background-color: #1F242D;
	margin-bottom: 20px;
}

.buttonWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-top: 20px;
}

.edit {
	cursor: pointer;
	font-size: 18px;
}

.delete {
	cursor: pointer;
	font-size: 18px;
}

.Wrapper {
	position: relative;
}

.iconWrapper {
	display: flex;
	position: absolute;
	background-color: #181A20;
	padding: 10px;
	border-radius: 10px;
	z-index: 10;
right: 10px;
	top: 10px;
	gap: 5px;
}